
/* HIDDEN STUFF */ 

#cover {
	position: fixed; 
	height: 100%; 
	width: 100%; 
	top:0; 
	left: 0; 
	background: #ffffff; 
	z-index:9999;
	opacity:1;
}

.scenario, .explain, .verdict, .ideal, .needs, .end {opacity:0;}

.ideal, .needs, .end {display:none;}


/* LAYOUT */

.left {float:left;}
.right {float:right;}
.clear {clear:both;}

.graph-title {margin: 1em 0;}

.row {margin-bottom:1em;}

div#graph-ideal, div#graph-needs {margin-bottom: 40px;}

div.scenario div {padding-bottom: 1em;}

select {max-width:300px;}

hr {border-top: 2px solid #d8d8d8;}

img {display: block;}


/* TYPOGRAPHY */

.actual-header {
  font-family: 'Roboto Condensed', sans-serif;
  color: #231f20;
	font-weight:600; font-size:2em;}

h1, h2, h3, p, li, svg text {
  font-family: 'Roboto Condensed', sans-serif;
  color: #231f20;}

a {
  font-family: 'Roboto Condensed', sans-serif;
  color: #dddddd;
  text-decoration: underline;
  margin-left:1em;}

h1 {font-weight:300; font-size:4em; }
.title p {font-size: 1.6em; margin-bottom:2em;}
h2 {font-weight:600; font-size:2em; margin:0.1em 0 0.1em 0;}
h3 {font-weight:700; font-size:1.2em; text-align:left; margin-top: 1em;}
p, li {font-weight:400; font-size:1.2em;}

.nav ul {list-style: none; margin: 0; padding:0;}
.nav ul li {display:inline;} 

.scenario p {margin: 0; text-align:left;}
.blue {font-weight:700; font-size:33px; line-height: 43px; color:#00a79d;} 
.money-label {font-weight:400; font-size:0.5em; color:#231f20;}
.graph-label {font-weight:400; font-size:1.7em; color:#231f20;}
.actual-header {font-family: 'Roboto Condensed', sans-serif; color: #231f20;font-size:2em;}
.actual-label {font-weight:400; font-size:1.8em; color:#231f20;}
.needs-label {font-weight:400; font-size:1.5em; color:#231f20;}

.big {font-size: 1.25em;}
.strong {font-weight:700;}
.light {font-weight:300;}
.emph {font-style:italic;}

a {
	color: #115AA0;
	text-decoration: none;
	border-bottom: #115AA0 2px dotted;
	margin-left: 0;
}

.red {color:#C14849; font-weight:700;}			/* are we using these colors? */
.yellow {color:#FAAF40; font-weight:700;}		
.blue {color: #000;}

.kludge {font-size: 0.9rem;padding:0.85em 0;} /* match button styles from foundation */

/* BUTTONS AND CUES */

.scrollcue, .scrollcue2, .replaycue, .steppercue {
	display: inline;
	background-color: #115AA0;
	float: left;
	margin-right: 20px;
  cursor: pointer;
  max-width:40px;
}

.steppercue, .replaycue {
	  max-width:30px;
}

.button {
	background-color: #115AA0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	height:40px;
	margin-top: 1em;
}


/* NAV HEADER */

.nav {
	width:100%;
	background:#111111;
	text-align: right;
}

.nav a {
	color: #e5e5e5;
	border-bottom: none;
	margin-left: 1em;
}


/* EXPLAINER SECTION */

.explain p {padding-right:0.25em; padding-left: 4px;}
.explain-50, .explain-30, .explain-20 {float: left;}
.explain-50 {width:50%; opacity:0;}
.explain-30 {width:30%; opacity:0;}
.explain-20 {width:20%; opacity:0;}
.explain-question {opacity:0;}


/* SCENARIO SECTION */

#scen-initial {
	display:block;
}

#scen-open {
	display:none;
}

.scenario {margin-top:1em; margin-bottom:70px;}
.income {background:#e8e8e8;}

.location-img, .household-img {
	margin: 0 auto;
	max-width: 240px;
}



/* IDEAL + ACTUAL SECTION */

.icon {
	float: left;
	width: 10%;
}

.icon img {
	width:30px;
	height:30px;
}

.text {
	float: right;
	width: 90%;
	clear: all;
}


/* NEEDS BREAKDOWN SECTION */

.scroll-box {
	opacity:0;
	padding-top: 15px;
	margin-bottom: 100px;
	padding-bottom: 15px;
	margin-top: 15px;
}

.scroll-box p {
	margin-bottom: 0px;
	font-size: 1.6em;
}

.replay-box {
	display:none;
	clear: all;
	min-height: 50px;
}

#needs-nav a, .replay-box p, .replay-box a {
	color: #000;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.2em;
	vertical-align: middle;
	min-height: 50px;
	margin-left: 0;
	border-bottom: 0;

}

#needs-nav {clear: all;}

div.needs #graph-needs {margin-bottom: 0;}

.verdict {
	background-color: #e5e5e5;
	padding-top: 1rem ;
	padding-bottom: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-top: #B43236 3px solid;
	border-bottom: #B43236 3px solid;

}

.icon {
	width: 5%;
	min-width: 30px;
}

.text {
	width: 95%;
	padding-left: 10px;
}

.text h3 {
	margin-top: 0;
}
